#monstersGallery {
    display: flex;
    align-items: flex-start; 
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;    
}

#monsters {
    display: flex;
    align-items: flex-start; 
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;    
}